#artitalk_main
script.
  (() => {
    const loadScript = url => new Promise((resolve, reject) => {
      const script = document.createElement('script')
      script.src = url
      script.onload = resolve
      script.onerror = reject
      document.body.appendChild(script)
    })

    const initializeArtitalk = () => {
      new Artitalk({
        appId: '#{appId}',
        appKey: '#{appKey}',
        ...!{option}
      })
    }

    if (typeof Artitalk === 'function') {
      initializeArtitalk()
    } else {
      loadScript('!{js}').then(initializeArtitalk)
    }
  })()