#artitalk_main
script.
  (()=>{
    const init = () => {
      new Artitalk(Object.assign({
        appId: '#{appId}',
        appKey: '#{appKey}',
      }, !{option}))
    }

    if (typeof Artitalk === 'function') {
      init()
    } else {
      getScript('!{js}').then(init)
    }
  })()