@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
}

.social-share {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

  * {
    font-family: 'iconfont' !important;
  }
  .icon-qq:before {
    content: '\e882';
  }
  .icon-weibo:before {
    content: '\e884';
  }
  .icon-wechat:before {
    content: '\e604';
  }
  .icon-heart:before {
    content: '\e69d';
  }
  .icon-like:before {
    content: '\e602';
  }
  .icon-qzone:before {
    content: '\e603';
  }
  .icon-linkedin:before {
    content: '\e8d5';
  }
  .icon-facebook:before {
    content: '\e6a1';
  }
  .icon-x:before {
    content: '\e75c';
  }
  .icon-twitter:before {
    content: '\e883';
  }

  a {
    position: relative;
    text-decoration: none;
    margin: 4px;
    display: inline-block;
    outline: none;
  }

  .social-share-icon {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 20px;
    border-radius: 50%;
    line-height: 32px;
    border: 1px solid #666;
    color: #666;
    text-align: center;
    vertical-align: middle;
    transition: background 0.6s ease-out 0s;

    &:hover {
      background: #666;
      color: #fff;
    }
  }

  .icon-weibo {
    color: #ff763b;
    border-color: #ff763b;
    &:hover {
      background: #ff763b;
    }
  }
  .icon-qq {
    color: #56b6e7;
    border-color: #56b6e7;
    &:hover {
      background: #56b6e7;
    }
  }
  .icon-qzone {
    color: #fdbe3d;
    border-color: #fdbe3d;
    &:hover {
      background: #fdbe3d;
    }
  }
  .icon-linkedin {
    color: #0077b5;
    border-color: #0077b5;
    &:hover {
      background: #0077b5;
    }
  }
  .icon-facebook {
    color: #44619d;
    border-color: #44619d;
    &:hover {
      background: #44619d;
    }
  }
  .icon-x {
    color: #000000;
    border-color: #000000;
    &:hover {
      background: #000000;
    }
  }
  .icon-twitter {
    color: #1da1f2;
    border-color: #1da1f2;
    &:hover {
      background: #1da1f2;
    }
  }
  .icon-wechat {
    position: relative;
    color: #7bc549;
    border-color: #7bc549;
    &:hover {
      background: #7bc549;
    }
  }
  .icon-wechat .wechat-qrcode {
    display: none;
    border: 1px solid #eee;
    position: absolute;
    z-index: 9;
    top: -205px;
    left: -84px;
    width: 200px;
    height: 192px;
    color: #666;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 10px #aaa;
    transition: all 200ms;
    -webkit-tansition: all 350ms;
    -moz-transition: all 350ms;
  }
  .icon-wechat .wechat-qrcode.bottom {
    top: 40px;
    left: -84px;
    &:after {
      display: none;
    }
  }
  .icon-wechat .wechat-qrcode h4 {
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    color: #777;
  }
  .icon-wechat .wechat-qrcode .qrcode {
    width: 105px;
    margin: 10px auto;
  }
  .icon-wechat .wechat-qrcode .qrcode table {
    margin: 0 !important;
  }
  .icon-wechat .wechat-qrcode .help p {
    font-weight: normal;
    line-height: 16px;
    padding: 0;
    margin: 0;
  }
  .icon-wechat .wechat-qrcode:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -13px;
    width: 0;
    height: 0;
    border-width: 8px 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  .icon-wechat:hover .wechat-qrcode {
    display: block;
  }
}
